img{
    max-width: 100%;
    // width: 20%;
    border-radius: $border-radius-small;
    max-height: 100%;
}
.img-raised{
    box-shadow: $box-shadow-raised;
}
.draggable {
    img {
        max-height: 100%;
        max-width: 100%;
        width: 80px;
    }
}
td {
    img {
        max-width: 110px;
        // width: 20%;
        border-radius: $border-radius-small;
        max-height: 73px;
    }
}